@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Mulish;
    
}

/* *******************nav bar styles**************** */


header{

    padding: 4rem;
}
nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

nav >ul{
    display: flex;
    text-align: center;
    margin-top: 5px;
  
}
nav li{
    
    margin-right: 28px;
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
   
}
ul .icon{
    display: none;
}
nav li a{
    text-decoration: none;
}

span{
    color: #FF5400;
}

/* banner style */
.banner-area{
    width: 1170px;
    height: 500px;
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    margin-top: 2rem;
    
    
}

.banner-select{
    width: 174px;
    height: 52px;

}

.banner-container h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding:40px;

}

.banner-container p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.banner-select-container{

    display: inline-flex;
    padding: 10px;
    margin-left: 12.5rem;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.warpper{
    display: flex;
    width: 768px;
    height: 52px;
    margin-left: 12.5rem;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.input-box input, .input-box img{
    display: flex;
}
.input-box .arrow{
    
    position: absolute;
    margin-left: 104px;
    margin-top: -38px;
}


/* ***********************herp section styles************ */

.hero-section{
    display: flex;
    margin-top: 4rem;
    gap: 3.125rem;
}

.hero-section-title h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.hero-section-title p ,li{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
}
button{
    width: 174px;
    height: 52px;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    margin-top: 8px;

}


/* *************Main sections styles************ */
.Main-section{

   width: 80%;
   margin: auto;

}

.Choose-Destination-title{
    text-align: center;
}

.Choose-Destination-title h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.Choose-Destination-title p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}





.Maldives{
    background-image: url("./Images/Rectangle\ 5.png");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.Maldives h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 13rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.Indonesia{
    background-image: url("./Images/Rectangle\ 8.png");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.Indonesia h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 13rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.Srilanka{
    background-image: url("./Images/Rectangle\ 6.png");
    width: 100%;
    height: 286px;
    background-repeat: no-repeat;

}

.Srilanka h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 9rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.North-America{
    background-image: url("./Images/Rectangle\ 7.png");
    width: 100%;
    height: 286px;
    background-repeat: no-repeat;

}

.North-America h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 9rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.Kashmir{
    background-image: url("./Images/Rectangle\ 9.png");
    width: 100%;
    height: 286px;
    background-repeat: no-repeat;
}

.Kashmir h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 6rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.Bangladesh{
    background-image: url("./Images/Rectangle\ 11.png");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}
.Bangladesh h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 10rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.Bandarban{
    background-image: url("./Images/Rectangle\ 10.png");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.Bandarban h3{
    position: absolute;
    margin-top: 8rem;
    margin-left: 17rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}


.maldives-indonashia{
    display: flex;
    gap: 5px;

}

.sri-ameri-kashmir{

    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-left: 2rem;
}

.bangladesh-bandorban{
    display: flex;
    gap: 5px;
    margin-top: 1rem;
}
/* **************Why Choose Us****************** */

.choose-title h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 2rem;
    text-align: center;
}

.choose-title p{
    margin-top: 10px;
    text-align: center;
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
}

.choose-container{
    display: flex;
    gap: 3.06rem;
    margin-top: 1rem;
}

.choose-container-1{
    
    height: 220px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose-container-1 h4{
    color: #131318;
    
    font-size: 24px;
    font-weight: 800;
}
.choose-container-1 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.choose-container-2{
    
    height: 220px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-container-2 h4{
    color: #131318;
    
    font-size: 24px;
    font-weight: 800;
}
.choose-container-2 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.choose-container-3{
    width: 573px;
    height: 200px;
    padding: 20px;
    margin-left: 24rem;
    left: 30%;
    margin-top: 1rem;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-container-3 h4{
    color: #131318;
    
    font-size: 24px;
    font-weight: 800;
}
.choose-container-3 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

/* ******************* Deals & Discounts****************** */
.discount-title{
    text-align: center;
    margin-top: 2rem;
}

.discount-title h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.discount-title p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.discounts-container-1{
    margin-top: 2rem;
    background-image: url("./Images/Group\ 39.png");
    width: 1170px;
    height: 500px;

}

.discounts-container-images{

    width: 484px;
    height: 337px;
    position: absolute;
    margin-top: 4%;
    margin-left: 38%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(-30px);
}

.deals-img{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}


.discount-img{
    display: flex;
}

.discounts-container-discriptions h3{
    color: #131318;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
    padding: 1rem;
}

.discounts-container-discriptions p{
    width: 452px;
    color: #5A5A5D;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}
button{

    margin-left: 10px;
}
/* container 2 */
.discounts-container-2{
    margin-top: 2rem;
    background-image: url("./Images/Group\ 40.png");
    width: 1170px;
    height: 500px;

}

.discounts-container-images-2{

    width: 484px;
    height: 337px;
    position: absolute;
    margin-top: 4%;
    margin-left: 8%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(-30px);
}
.button-deals{
    margin-top: 1rem;
    text-align: center;
}

/* ***************Simple-Perfect-Place********** */

.Simple-Perfect-Place{
    display: flex;
    margin-top: 2rem;
}

.Simple-Perfect-Place-discription h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.Simple-Perfect-Place-discription p{
    color: #424242;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.Simple-Perfect-Place-discription li{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Simple-Perfect-Place-img{
    background-image: url("./Images/Group\ 40089.png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    border-radius: 16px;
    
}
.Simple-Perfect-Place-discription {
    width: 50%;
    margin-right: 2%;
}
.place-video-section {
    position: relative;
    width: 50%;
    margin-right: 2%;
}
.Simple-Perfect-Place-img h3{

    position: absolute;
    margin-top: 8rem;
    margin-left: 13rem;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.place-video-section {
    position: relative;
}

.right-icons {
    position: absolute;
    right: 10px;
    bottom: 25px;
}
.left-icons {
    left: 10px;
    color: #fff;
    bottom: 25px;
    position: absolute;
}
span.video-line {
    position: absolute;
    border-bottom: 2px solid #FFF;
    width: 100%;
    bottom: 17px;
}
.video-icons img {
    width: 15px;
    margin-right: 5px;
}
.video-icons span {
    color: #FFF;
    font-size: 14px;
}

/* **************from section****** */
.forme-section{
    display: flex;
    margin-top: 3rem;
    gap: 10px;
}

.forme-description{

    width: 474px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #FF5400;
padding: 1rem;

}

.forme-description h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1rem;

}
.forme-description p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.form-hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 2rem;
    margin-left: 3%;
}

.form{
    width: 400px;
    /* background-color: rgba(233, 68, 68, 0.2); */
    color: #fff;
}

.form .input-box{
    width: 393px;
    height: 52px;
    background: rgba(19, 19, 24, 0.05);
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}

button .btn{
    width: 100%;
    height: 100%;
}

.travel-form-img {
    position: relative;
}
.travel-text h1, .travel-text h3 {
    text-align: center;

}
.travel-text {
    background-color: #FF5400;
    color: #FFF;
    text-decoration: currentColor;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    transform: rotate(-19.628deg);
    position: absolute;
    right: 7px;
    bottom: 70px;
}





/* ****************footer styles********* */
footer{
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 3rem;
}

.footer-header{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 24px;
}

.logo-text h3{
    font-size: 32px;
    font-weight: 800;

}
.footer-descriptions p{
    text-align: center;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.footer-icon{
    text-align: center;
    margin-top: 10px;
}
.footer-img{
    text-align: center;
    margin-left: 37rem;
}

hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 10px;
    justify-content: center;
    margin-left: 15%;
}

.footer-text{

    color: #131318;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 3rem;
}






/* **************responsive */

.mobile-only {
    display: none;
}

@media screen and (max-width:600px) {
    .hero-section, .forme-section, .Simple-Perfect-Place, .choose-container, .maldives-indonashia, .sri-ameri-kashmir, .bangladesh-bandorban {
        flex-direction: column;
    }
    .hero-section img, .maldives-indonashia img, .sri-ameri-kashmir img, .bangladesh-bandorban img {
       width: 100%;
    }
    .Simple-Perfect-Place-discription, .place-video-section {
        width: 100%;
        margin-bottom: 15px;
    }
    .Simple-Perfect-Place-img h3 {
        margin-left: 5%;
    }
    img {
        max-width: 100%;
    }
    header {
        padding: 1rem;
    }
    .mobile-only {
        display: block;
    }
    .nav-title{
        display: flex;
        color: #131318;
       font-size: 22px;
       font-weight: 800
    }
    ul li{
        display: none;
    }

    ul .icon{
        display: block;
    }
    .choose-container-3 {
         margin-left: 0;
         width: inherit;
         height: inherit;
    }
    .discounts-container-images, .discounts-container-images-2 {
        width: inherit;
        height: inherit;
        margin-top: inherit;
        position: inherit;
        margin-left: inherit;
        

      }
    .banner-area{
        margin-left: 0px;
        width: auto;
    }
    .banner-area h1{
        font-size: 2rem;
       font-weight: 800;
      padding: 2px;
    }
    .warpper {
        flex-direction: column;
        width: 200px;
        height: auto;
        margin-left: 50%;
      }
    .input-box input, .input-box img{
        display: flex;
    }
    .input-box .arrow{
        
        position: absolute;
        margin-left: 104px;
        margin-top: -21px;
    }
    .forme-description {
        width: 100%;
        height: auto;
    }
    .travel-text h1, .travel-text h3 {
        font-size: 13px;
        font-weight: normal;
      }
    .travel-text {

    }
}